* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
}
.recap {
  background: blue;
  height: 100vh;
  width: 100vw;
}
.recap p {
  letter-spacing: 0.25rem;
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}
.container {
  border: 5px solid purple;
}
.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: grey;
}
